
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>من نحـن</h3>
   <br />
   	<p class="microposts">فـئة تخـدم المجتمـع بلصور المستدركة من الخبرات والعلوم العملية في الحاسب الالي من خدماتها وامثالها المتكررة من
   	 ازالة عصبية الفايرس المسبب لعلول النظام والمتعدده الاحصائية ويغد عملنا بطريقتـه الحديثة التي فضلناها عن غيرنا وخالفنا بها 
   	 طريقة اخواننا في اسلوبية الاصلاح -الاجهزة- فقد اخترنا البرامج الاصلية او البرامج المؤقته بلا استخدام  كواسر 
   	 البرامج -الكراك او الباتش - وفضلناها لأحتمالية الكواسر اضرار على الجهاز والاشكالية الشرعيه عند الاخص كما قد صرح قبل الفقهاء بلا صدده
   	 واختلفنا معهم في بيع الاجهزة المعينة حتى نبين بعض الاساليب والاستشارات من قبل الاختصاصين في هذا المجال حتى يكون المشتري 
   	 بصورة الواقعيه في عمله وكيفيته ولماذا ولاجل ومن جهة اخرى لاصناف التجارية فقد قمنا بإزدواجية الانواع وبيانهـا 
   	 وضعنـا لهم اجهزة معينة خاصة بحالاتهـم والمدة المعينة لإستبداله وميزناهم بجعل لكل منهم موقع به خدماته وعروضه وامورة بشكل كاف
   	 حتى يمكنه ان ينشر وضعه بلعنكبوتيه والراغبون في الاستفسارات نرحب بهم بأبتسامة عريضة اهلاً بكم  والحمدلله رب العالمين 
   	  </p>
   	   	<p style="text-align: right;" class="microposts"> يمكنكم الاتصال  بنا على الهاتف 0097333781228 او من الايميل التالي <span style="float: left;">admin@al-kaim.com</span></p>
   	
	<a href=""></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("aboutus.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
