
<center>
   <div class="holder_content1">
		<section>
  <%= image_tag("one.png", :size => "700",:class=>"o")%>
	</section>
	

		</div>
		
   <div class="holder_content">
   
   <section class="group1">
   <h3>مميـزاتـنا</h3>
   	<p>بحول من الله وقوته نوفق ان نخدمكـم ونستبط الانزعاجات وتواليها بأفضل واسرع التقنيات واجودها ونضع لكم 
   		الفروق والحلول بعين بصيرتكم ونفيدكم من افكارنا ونناقشها معكم وما يطيب خاطركم واما عن مال قيمة جهودنا فهي متواضعه
   		  ولا تسبب لكم من ضيق في صدوركم والله الموفق </p>
    <a href=""></a>

	</section>
	

     
   <section class="group2">
   <h3>خدمــاتنـا</h3>
   	<p>تقسم اعمالنـا الحيوية في نظام الحاسب الى عدة انوية ظاهرية 
   <br />
   أولاها : خدمـاتنـا للتجارة مع الله عز وجل 
   <br />
        ثانيـها : خدمـاتنـا لأفراد المتجمع  
   <br />
      ثالهـا : خدمـاتنـا للفئات التجارية الصغيرة    
   <br />
   رابعـها : خدمـاتنـا للشركات والانظمة العلوية 
   
   		</p>
	<a href=""><span class="read_more"><%= link_to "اكمــ...ــل" , services_path%></span></a>

	</section>

       
   <section class="group3">
   <h3>من نحـن</h3>
   	<p>فـئة تخـدم المجتمـع بلصور المستدركة من الخبرات والعلوم العملية في الحاسب الالي من خدماتها وامثالها المتكررة من
   		ازالة عصبية الفايرس المسبب لعلول النظام والمتعدده الاحصائية ويغد عملنا بطريقتـه الحديثة التي فضلناها عن غيرنا </p>
	<a href=""><span class="read_more"><%= link_to "اكمــ...ــل" , aboutus_path%></span></a>

	</section>

   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
