
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>نشر المؤسسة بأعلى المواقع</h3>
   <br />
   	<p style="text-align: right;"class="microposts"> : في حين كثر انتشار المواقع كـ الفيسبوك والتويتر نقدم لكم هذه الخدمات المناسبة لكم </p>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
   
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
       			نصف دينار
					</td>
        		<td>
        	عمل حساب  لكل  موقع منهم 
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 دينار ونصف
					</td>
        		<td>
        	عمل حسابات بإيميلات ساب-دومين للحماية  
        			</td>
        		<td >
        			2
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 سبـعة دنانير
					</td>
        		<td>
عمل حساب بدومين جديد للمؤسسة
        			</td>
        		<td >
        			3
        			</td>
        		
        	</tr>
        		<tr>
        		 		<td >
        		 				إحدى عشر دينار
        		 								</td>
        		<td>
عمل جميع الحسابات المرغوبة مع دومين جديد
        			</td>
        		<td >
        			خدمة
        			</td>
        		
        	</tr>
        </table>
    </td>
    </tr>
    </table>
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

	<a href=""class="o"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
