
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>عمل موقع للمؤسسة</h3>
   <br />
   	<p class="microposts"> في حدود المؤسسات الدينية اكثرها تحتاج الى مواقع تشمل خطاهم واعمالهم الدينية وحركاتهم ومسيرتهم المتواصلة في الجهاد الاكبر
   		فإن وفقنا الله عز وجل نخدمكم بنشرها لكم على الانترنت سعياً لتطوير متجمعنـا النابض ويكون لنا ولكم صدقة جارية وهذه هي 
   		اختلافنـا وخدماتنـا لكم  </p>
   		   <h3>اختلافنا</h3>

   	<p style="text-align: right;" class="microposts">  اولاً:فضلنا استخدام الاليات الحديثة في البرمجه كـ الروبي بدلاً عن البي اتش بي</p>
   	
   	<p style="text-align: right;" class="microposts">  ثانيا:استخدمنا استضافة الهيروكو بدلاً عن الاستضافات الاخرى </p>
   	   <h3>خدمـاتنـا</h3>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
    
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
       			إحدى عشر دينارا
					</td>
        		<td>
        	  تصمــيم واجـهة الموقع
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 دينار ونصف
					</td>
        		<td>
        			تصمــيم صفحه فرعية 
        			</td>
        		<td >
        			2
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 خمسة دينار
					</td>
        		<td>
رفع الموقع على استضافة هيروكو وجت
        			</td>
        		<td >
        			3
        			</td>
        		
        	</tr>
        		<tr>
        		 		<td > 
        		 			سبعة دينار
        		 								</td>
        		<td>
شراء دومين وربطه بـ استصافة هيروكو
        			</td>
        		<td >
        			4
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td > 
        		 			 ثلاثة دينار
        		 								</td>
        		<td>
تركيـب انواع معينة من السكربتات الاسلامية
        			</td>
        		<td >
        			5
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td > 
        		 			تسعة عشر دينار
        		 								</td>
        		<td>
عمل موقع كامل ب5 صفحات مع دومين
        			</td>
        		<td >
        			خدمة
        			</td>
        		
        	</tr>
        	
        	
        </table>
    </td>
    </tr>
    </table>
           	<h3 style="text-align: right;">اجوبة الاسئلة الذهنية  </h3>
<br />
           	<p style="text-align: right;" class="microposts">اولاً:ان جميع مواقعنا تستخدم التقنيات التالية <span style="float: left;">[HTML5 SCSS JQUERY RAILS 3.2  ]</span> </p>

           	<p style="text-align: right;" class="microposts"> ثانيا: ان استضافة هيروكو من اقوى الاستضافات ولزيادة  المعلومات <span style="float: left;">Heroku.com</span></p>
   	<p style="text-align: right;" class="microposts"> ثالثا: ان البنية التحتيه للموقع مصممة بطريقة   <span style="float: left;">RubyOnRails3</span></p>
   	
<p style="text-align: right;" class="microposts"> رابعا: هذه الخدمات  للمؤسسات الدينية والمرتبطه بهـا   </p>
<p style="text-align: right;" class="microposts"> خامسا: السكربتات الاسلامية متوافرة في الانترنت بكثرة ويمكننا تطويرهم ان تطلب بشروط برمجيه وحقوقية  </p>
       	<br />
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

	<a href="" class="e"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path ,:class=>"o"%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
