
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>الصدقه الجارية للافراد</h3>
   <br />
   	<p class="microposts">
قال تعالى
( آَمِنُوا بِاللَّهِ وَرَسُولِهِ وَأَنْفِقُوا مِمَّا جَعَلَكُمْ مُسْتَخْلَفِينَ فِيهِ
فَالَّذِينَ آَمَنُوا مِنْكُمْ وَأَنْفَقُوا لَهُمْ أَجْرٌ كَبِيرٌ ) جعلنا الله واياكم من الذين ينفقون في مرضات الله الرب الرحيم ونشكره على توفيقنا
على تصميم هذا القسم والحمدلله عدد اختلاف الليل والنهار
 </p>
   		   <h3>انواع الصدقات</h3>

   	<p style="text-align: right;" class="microposts"> قال الامام البـاقر عليه السلام (زكاة العلم أن تعلمه عباد الله) وتكون الصدقة عن نشر علوم الرسول الاعظم ص واهل بيته 
   		واصحابة المنتجبين ارواحنا تحت مقدمهم كل الفداء</p>
    	   <h3>الصدقات الجارية</h3>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
    
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
       			دينار
					</td>
        		<td>
        	  تركيب سكربت للفرد
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 مجانا   
					</td>
        		<td>
        			تركيب سكربت الصدقه الجارية قريبا  
        			</td>
        		<td >
        			خدمة
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 ثلاثة دينار
					</td>
					
        		<td>
 عمل موقع شامل ل5 سكربتات مطلوبة
        			</td>
        		<td >
        			خدمة
        			</td>
        		
        	</tr>
        		<tr>
        		 		<td > 
        		 			خمسة عشر دينار
        		 								</td>
        		<td>
تحديد متطلبات الفرد للصدقه مع الاستضافة بدومين
        			</td>
        		<td >
        			خدمة
        			</td>
        		
        	</tr>
        	
        	
        </table>
    </td>
    </tr>
    </table>
           	<h3 style="text-align: right;">اجوبة الاسئلة الذهنية  </h3>
<br />
           	<p style="text-align: right;" class="microposts">اولاً:ان جميع مواقعنا تستخدم التقنيات التالية <span style="float: left;">[HTML5 SCSS JQUERY RAILS 3.2 ]</span> </p>

           	<p style="text-align: right;" class="microposts"> ثانيا: ان استضافة هيروكو من اقوى الاستضافات ولزيادة  المعلومات <span style="float: left;">Heroku.com</span></p>
   	<p style="text-align: right;" class="microposts"> ثالثا: ان البنية التحتيه للموقع مصممة بطريقة   <span style="float: left;">RubyOnRails3</span></p>
   	
<p style="text-align: right;" class="microposts"> رابعا : ان سكربت الصدقه الجارية يتم بإذن الله تعالى في تاريخ 1-5-2012   </p>
<p style="text-align: right;" class="microposts"> خامسا: السكربتات الاسلامية متوافرة في الانترنت بكثرة   </p>
       	<br />
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

	<a href="" class="e"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path ,:class=>"o"%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
