
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>أسعـار خاصة على اصلاح الاجهزة</h3>
   <br />
   	<p class="microposts">
على العولمة وحالها في المؤسسات الدينية فإن اجهزة الحواسيب ما بين زمن الى زمن تحتاج الى صيانة 
وبحول الله وقوته نجعل من الاجهزة سبيلاً الى تسهيل ونشر العلوم اليكم وهذه الحالة اليكم 
 </p>
     	   <h3>اساليب الاصلاح</h3>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
    
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
       			دينارين ونصف
					</td>
        		<td>
        	  عمل برمجة للجهاز بأحدث الاساليب
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 بثلاثة دينار
					</td>
        		<td>
        			 عمل فحص دوري بإستمرار على الجهاز
        			</td>
        		<td >
        			2
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 دينار ونصف
					</td>
					
        		<td>
    عمل برمجه في حالة اكثر من 5 اجهزة
        			</td>
        		<td >
        			3
        			</td>
        		
        	</tr>
        		<tr>
        		 		<td > 
        		 			شهريا بـ 11 دينار
        		 								</td>
        		<td>
فحص دوري لأكثر من 5 اجهزة
        			</td>
        		<td >
        			4
        			</td>
        		
        	</tr>
        	
        	
        </table>
    </td>
    </tr>
    </table>
           	<h3 style="text-align: right;">اجوبة الاسئلة الذهنية  </h3>
<br />
           	<p style="text-align: right;" class="microposts">اولاً:ان جميع اصلاحتنا تستخدم التقنيات التالية <span style="float: left;">[Windows 8&7&XP ,Linux,MiniPE]</span> </p>
       	<p style="text-align: right;" class="microposts"> ثانيا: لانستخدم اي كراك او سريل لكسر البرامج</span> </p>
	<p style="text-align: right;" class="microposts"> ثالثا: يمكنكم طلب البرامج المطلوبة بشرط لاتكون مع كاسر لها</span> </p>
    
    <p style="text-align: right;" class="microposts"> رابعا: اصلاحنا يشمل الحماية  من الفايروسات والمشاكل المعللة</span> </p>
    
    <p style="text-align: right;" class="microposts"> خامسا: خروجنا وذهابنا الى المؤسسة بدينارين ونصف</span> </p>
    
       	<br />
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

          
	<a href="" class="e"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path ,:class=>"o"%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
