
<center>
   <div class="holder_content1">
		<section>
  <%= image_tag("two.png", :size => "700",:class=>"c")%>
	</section>
		</div>
		
   <div class="holder_content">
   
   <section class="group1">
   <h3>للفـئات التجارية </h3>
   
   	<p>اولها : التدوير على اجهزتهم بفترات </p>
   	<p>ثانيها :عمل مواقع تخدمهـم</p>
   	<p>ثـالثها :عمل شبكات لاسلكية </p>
   	<p>رابعها : عمل اجهزة مراقبة ؟قريبا؟ </p>

	</section>
	

     
   <section class="group2">
   <h3>لأفراد المجتمع </h3>
   	<p>اولها :وضع السيرة الذاتيه في موقع </p>
   	<p>ثانيها : اصلاح حواسيبهم في منزلهم</p>
   	<p>ثـالثها : عروض آخر الاجهزة </p>
   	<p>رابعها : الحوار مع المشتري </p>

	</section>

       
   <section class="group3">
   <h3> الربح مع الله تعالى</h3>
   	<p>اولها :نشر المؤسسة بأعلى المواقع</p>
   	<p>ثانيها : عمل موقع للمؤسسة</p>
   	<p>ثـالثها : الصدقه الجارية للافراد</p>
   	<p>رابعها : أسعـار خاصة على الاجهزة </p>

	</section>

   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
