
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>عملية التدوير</h3>
   <br />
   	<p class="microposts">
ان اكثرية الشركات والابنية التجارية تستخدم الحاسب الالي بحاجة ومما يكثر ابتلاءهم
به عندما تكون به علة او خلل داخل النظام وهل يناسب هذا مع العمل ام لا 
 </p>
     	   <h3>اساليبنا</h3>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
    
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
       			ثلاثة دينار ونصف 
					</td>
        		<td>
        مع البرامج الاساسية	   عمل فورمات للجهاز بأحدث الاساليب
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 دينار ونصف 
					</td>
        		<td>
        		 عمل حماية للجهاز بشكل متجدد وازالة الفايروسات
        			</td>
        		<td >
        			2
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 خمسة دينار
					</td>
					
        		<td>
        		مع الفورمات	  امكانية ارجاع الملفات في حالة تلف النظام
        			</td>
        		<td >
        			3
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			دينارين ونصف
					</td>
					
        		<td>
  في حالة عدد الاجهزة اكثر من 5الى 10 
        			</td>
        		<td >
        			4
        			</td>
        		
        	</tr>
        		<tr>
        		 		<td > 
        		 			دينارين
        		 								</td>
        		<td>
  في حالة عدد الاجهزة اكثر من 10 الى 20
        			</td>
        		<td >
        		5
        			</td>
        		
        	</tr>	<tr>
        		 		<td > 
        		 			شهريا 13 دينار
        		 								</td>
        		<td>
فحص الاجهزة يشمل ازالة العلل البسيطة لأكثر من 5 الى 10  اجهزة
        			</td>
        		<td >
        		تدوير بسيط
        			</td>
        		
        	</tr>	<tr>
        		 		<td > 
شهريا 19 دينار        		 			
					</td>
        		<td>
فحص الاجهزة تشمل الفورمات واداء الانترنت لاكثر من 5الى 10 اجهزة        			</td>
        		<td >
        		تدوير متوسط
        			</td>
        		
        	</tr>
        			
        	</tr>	<tr>
        		 		<td > 
شهريا 27 دينار        		 			
					</td>
        		<td>
فحص الاجهزة تشمل التدوير المتوسط مع فحص الالواح الالكترونية داخل الاجهزة       			</td>
        		<td >
        		تدوير حاد
        			</td>
        		
        	</tr>
        	
        	
        </table>
    </td>
    </tr>
    </table>
           	<h3 style="text-align: right;">اجوبة الاسئلة الذهنية  </h3>
<br />
           	<p style="text-align: right;" class="microposts">اولاً:ان جميع اصلاحتنا تستخدم التقنيات التالية <span style="float: left;">[Windows 8&7&XP ,Linux,MiniPE]</span> </p>
       	<p style="text-align: right;" class="microposts"> ثانيا: لانستخدم اي كراك او سريل لكسر البرامج</span> </p>
	<p style="text-align: right;" class="microposts"> ثالثا: يمكنكم طلب البرامج المطلوبة بشرط لاتكون مع كاسر لها</span> </p>
    
    <p style="text-align: right;" class="microposts"> رابعا: اصلاحنا وفحصنا يشمل الحماية  من الفايروسات والمشاكل المعللة</span> </p>
    
    <p style="text-align: right;" class="microposts"> خامسا: خروجنا وذهابنا الى مكانكم بثلاثة دينار</span> </p>
    
    <p style="text-align: right;" class="microposts"> سادسا:لابد على الاتفاق على البرامج قبل الذهاب لئلا يكون غشاً  </span> </p>
    
    <p style="text-align: right;" class="microposts">سابعا:عملنا يبدا مع الفورمات وخدماتنا تكون من بعد الفورمات </span> </p>
    
    <p style="text-align: right;" class="microposts">ثامنا: في حالة نظامكم غير مكسور فيتم الفحص ومحاولة اصلاحه قبل الفورمات وفي غيرها يتم بلبرمجه اولاً</span> </p>
    
    <p style="text-align: right;" class="microposts">تاسعا:لشركات يكون لهم حساب عندنا خاص ليروا جميع احوال اجهزتهم من الانترنت </span> </p>
    
       	<br />
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

          
	<a href="" class="e"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path ,:class=>"o"%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />