
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>عمل موقع او برنامج</h3>
   <br />
   	<p class="microposts">في ظل المواقف السامية للتجارة يحتاج البعض لعمل موقع خاص يضع فيه اخر تحديثاته وادواته
   		وجميع مستلزماته وضعنا لكم هذا العرض السائر في سبيل خدمة وتقوية سبل التجارة لديكم</p>
   	   <h3>خدمـاتنـا</h3>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
    
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
       			تسع عشر دينارا
					</td>
        		<td>
        	  تصمــيم واجـهة الموقع
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 دينارين ونصف
					</td>
        		<td>
        			تصمــيم صفحه فرعية 
        			</td>
        		<td >
        			2
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 تسعة دينار
					</td>
        		<td>
رفع الموقع على استضافة هيروكو وجت
        			</td>
        		<td >
        			3
        			</td>
        		
        	</tr>
        		<tr>
        		 		<td > 
        		 			تسعة دينار دينار
        		 								</td>
        		<td>
شراء دومين وربطه بـ استصافة هيروكو
        			</td>
        		<td >
        			4
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td > 
        		 			 خمسة دينار
        		 								</td>
        		<td>
تركيـب انواع معينة من السكربتات التجارية
        			</td>
        		<td >
        			5
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td > 
        		 			خمسة وعشرين دينار
        		 								</td>
        		<td>
 عمل موقع كامل ب5 صفحات مع دومين
        			</td>
        		<td >
        			خدمة
        			</td>
        		
        	</tr>
        			<tr>
        		 		<td > 
        		 		حسب الاتفاق
        		 								</td>
        		<td>
  عمل موقع او برنامج خاص
        			</td>
        		<td >
        			خدمة
        			</td>
        		
        	</tr>
        	
        </table>
    </td>
    </tr>
    </table>
           	<h3 style="text-align: right;">اجوبة الاسئلة الذهنية  </h3>
<br />
           	<p style="text-align: right;" class="microposts">اولاً:ان جميع مواقعنا او برامجنا تستخدم التقنيات التالية <span style="float: left;">[HTML5 SCSS JQUERY RAILS 3.2 C# ]</span> </p>

           	<p style="text-align: right;" class="microposts"> ثانيا: ان استضافة هيروكو من اقوى الاستضافات ولزيادة  المعلومات <span style="float: left;">Heroku.com</span></p>
   	<p style="text-align: right;" class="microposts"> ثالثا: ان البنية التحتيه للموقع مصممة بطريقة   <span style="float: left;">RubyOnRails3</span></p>
   	
<p style="text-align: right;" class="microposts"> خامسا: السكربتات  متوافرة في الانترنت بكثرة ويمكننا تطويرهم ان تطلب بشروط برمجيه وحقوقية  </p>
       	<br />
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

	<a href="" class="e"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path ,:class=>"o"%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
