
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>عمل شبكات لاسلكية</h3>
   <br />
   	<p class="microposts">ان الوسط الحالي  في الشركات وتوابع اصناف الحركة تحتاج الى محيط من الانترنت في مقرها
   		من الانترنت اللاسلكي والسلكي حتى تتم الاتصالات بين المعلومات والحاجة بكافة مستقدرة وهذا عرضنا للمجال</p>
   	   <h3>خدمـاتنـا</h3>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
    
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
حسب الابعاد
					</td>
        		<td>
        	  عمل شبكة سلكية على طول المبنى
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 حسب الابعاد
					</td>
        		<td>
        			عمل شبكة لاسلكية 
        			</td>
        		<td >
        			2
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 حسب الابعاد
					</td>
        		<td>
تركيب وفحص شهري للشبكة 
        			</td>
        		<td >
        			خاص
        			</td>
        		
        	</tr>
        	
        	
        </table>
    </td>
    </tr>
    </table>
           	<h3 style="text-align: right;">اجوبة الاسئلة الذهنية  </h3>
<br />
    	
<p style="text-align: right;" class="microposts"> اولا:المقصود بحسب الابعاد يتم تحديد المسافات وعدد الاجهزة المحتاجة لىتحديد المجال المطلوب  </p>
     <p style="text-align: right;" class="microposts"> ثانيا: يتم وضع اسعار الاجهزة والعمل بعد تحديد الابعاد  </p>
<p style="text-align: right;" class="microposts">  ثالثا: التاكيد على الحماية اللازمة لئلا يحدث الغش لصاحب الشركة مع حالة الاثبات</p>

       	<br />
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

	<a href="" class="e"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path ,:class=>"o"%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
