
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>وضع السيرة الذاتيه في موقع</h3>
   <br />
   	<p class="microposts">
   		للحصول على وظائف الان  لابد من السيرة الذاتية ولتسهيل الامر جعل الامر مميز
   		ووضعه في موقع خاص وبإسمك وبعون الله تعالى يرزقكم ويمددكم بأموال وبنين 
 </p>
     	   <h3>خدماتنا للسير الذاتية</h3>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
    
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
       			سبعة دينار
					</td>
        		<td>
        مع رفعها 	    عمل تصميم خاص للسيرة الذاتية
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 ثلاثة دينار
					</td>
        		<td>
        			 عمل احدى تصاميمنا للسير الذاتيه مع رفعهـا
        			</td>
        		<td >
        			2
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 سبعة عشر دينارا
					</td>
					
        		<td>
    امكانية تعديل السيرة بلوحة تحكم مع رفع  على هيروكو ودومين
        			</td>
        		<td >
        			عرض
        			</td>
        		
        	</tr>
        	
        	
        </table>
    </td>
    </tr>
    </table>
           	<h3 style="text-align: right;">اجوبة الاسئلة الذهنية  </h3>
<br />	<p style="text-align: right;" class="microposts">اولاً:ان جميع مواقعنا تستخدم التقنيات التالية <span style="float: left;">[HTML5 SCSS JQUERY RAILS 3.2 CSS3 JS]</span> </p>

           	<p style="text-align: right;" class="microposts"> ثانيا: ان استضافة هيروكو من اقوى الاستضافات ولزيادة  المعلومات <span style="float: left;">Heroku.com</span></p>
   	<p style="text-align: right;" class="microposts"> ثالثا: ان البنية التحتيه للموقع مصممة بأحدهم   <span style="float: left;">RubyOnRails3 HTML5 </span></p>
   	
       	<br />
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

          
	<a href="" class="e"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path ,:class=>"o"%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
