
<center>
   <div class="holder_content1">
		<section>

	</section>
	

		</div>
		
   <div class="holder_content">
 
       <section class="group7">
   <h3>اصلاح حواسيبـهم</h3>
   <br />
   	<p class="microposts">
مدار العالم كله اصبح بين خطوتين خطوة الحاسب وخطوة الانترنت وكثرت العلل فيهم من بطئ الجهاز وكثرة الفايروسات 
وتخوفهم من الاختراقات الحاصلة وبعده وضعنا هذه الاساليب لحلها واصلاحها	
 </p>
     	   <h3>اساليب الاصلاح</h3>
   <table class="profile " summary="Profile information">
  <tr>
    <td class="main">
    
        <table class="microposts" summary="User microposts" style="text-align: center;width: 430px; color:#A9E7FF">
        	<tr >
        		<td >
       			ثلاثة دينار 
					</td>
        		<td>
        مع البرامج الاساسية	   عمل فورمات للجهاز بأحدث الاساليب
        			</td>
        		<td >
        			1
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			 دينار ونصف
					</td>
        		<td>
        		 عمل حماية للجهاز بشكل متجدد وازالة الفايروسات
        			</td>
        		<td >
        			2
        			</td>
        		
        	</tr>
        	
        		<tr>
        		 		<td >
       			 خمسة دينار
					</td>
					
        		<td>
        		مع الفورمات	  امكانية ارجاع الملفات في حالة تلف النظام
        			</td>
        		<td >
        			3
        			</td>
        		
        	</tr>
        	<tr>
        		 		<td >
       			حسب الاتفاق
					</td>
					
        		<td>
عمل شبكة انترنت داخليه سلكية او لاسلكية
        			</td>
        		<td >
        			4
        			</td>
        		
        	</tr>
        		<tr>
        		 		<td > 
        		 			دينار ونصف
        		 								</td>
        		<td>
عمل نسخة احتياطية للنظام من بعد الاصلاح
        			</td>
        		<td >
        			عرض
        			</td>
        		
        	</tr>
        	
        	
        </table>
    </td>
    </tr>
    </table>
           	<h3 style="text-align: right;">اجوبة الاسئلة الذهنية  </h3>
<br />
           	<p style="text-align: right;" class="microposts">اولاً:ان جميع اصلاحتنا تستخدم التقنيات التالية <span style="float: left;">[Windows 8&7&XP ,Linux,MiniPE]</span> </p>
       	<p style="text-align: right;" class="microposts"> ثانيا: لانستخدم اي كراك او سريل لكسر البرامج</span> </p>
	<p style="text-align: right;" class="microposts"> ثالثا: يمكنكم طلب البرامج المطلوبة بشرط لاتكون مع كاسر لها</span> </p>
    
    <p style="text-align: right;" class="microposts"> رابعا: اصلاحنا وفحصنا يشمل الحماية  من الفايروسات والمشاكل المعللة</span> </p>
    
    <p style="text-align: right;" class="microposts"> خامسا: خروجنا وذهابنا الى منزلكم بثلاثة دينار</span> </p>
    
    <p style="text-align: right;" class="microposts"> سادسا:لابد على الاتفاق على البرامج قبل الذهاب لئلا يكون غشاً  </span> </p>
    
    <p style="text-align: right;" class="microposts">سابعا:عملنا يبدا مع الفورمات وخدماتنا تكون من بعد الفورمات </span> </p>
    
    <p style="text-align: right;" class="microposts">ثامنا: في حالة نظامكم غير مكسور فيتم الفحص ومحاولة اصلاحه قبل الفورمات وفي غيرها يتم بلبرمجه اولاً</span> </p>
    
       	<br />
       	<p style="text-align: right;"class="o">وفي حالة الاستفسارات او رغبتـكم يمكنكـم التسجيل والمتابعه  </p>

          
	<a href="" class="e"><%= link_to "ســجل معنــا بدخولـــك" ,signin_path ,:class=>"o"%></a>
	</section>  
   <section class="group6">
   	
   	  <%= image_tag("one1.png", :class=>"o")%>
  

	</section>

  
   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br />