<footer class="footer ">
  
  <nav style="float: left;">
    <ul>
	<li><%= link_to "من نحن", 	aboutus_path %></li>
	<li><%= link_to "خدماتـنا", 	services_path %></li>
         <li><%= link_to "الرئيسية", 	root_path %></li>
    </ul>
  </nav><small style="float: right;">

   القائم لخدمــات الحاسوب
  </small>
</footer>