<header class="navbar navbar-fixed-top">
  <div class="navbar-inner1">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
   <li><%= link_to "للأستفــسار : 0097333782338", 	root_path %></li>
   </ul>
      </nav>
              <span class="nav pull-right">

      	
            <%= link_to "القــائم لخدمــات الحاسوب", '#', id: "logo" %>
</span>
    </div>
  </div>
</header>
